[submodule ".registry"]
	path = .registry
	url = https://github.com/ahcm088/ahcm088.r-universe.dev
	branch = HEAD
[submodule "AAbAtlas"]
	path = AAbAtlas
	url = https://github.com/ahcm088/antibodyome-atlas
	subdir = r-package
